ul,
ol,
li{
    list-style: none;
    margin: 0;
}

html,
body{
    background-color: #FFFFFF;
    height: 100%;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
    color: #212121;
    letter-spacing: 0.02em;
    list-style-type: none;
    width: 1600px;
} 
.page-header{
    justify-content: center;
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    margin-left: 215px;
}
/*logo*/
.logo{
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    color: #2196F3;
    margin-right: 93px;
}
.navig{
    display: flex; 
    padding-left: 0;
}
.navig li{
    display: block;
    margin-right: 50px;
}
.navig li:last-child{
    margin-right: 0;
}
.colortext{
    color:#212121;
}
.colortext1{
    color:#FFFFFF;
}

/*header*/
.stu{
    font-weight: 500;
    color: #212121;
    text-decoration: none;
    
}
.stu:hover,
.stu:focus{
    color: #2196F3;
}
.por{
    font-weight: 500;
    color: #212121;
    text-decoration: none;
}
.por:hover,
.por:focus{
    color: #2196F3
}
.con{    
    
    font-weight: 500;
    color: #212121;
    text-decoration: none;
}
.con:hover,
.con:focus{
    color: #2196F3;
}
.contacts .link{
    font-weight: 500;
    line-height: 1.32;
    color: #757575;
    text-decoration: none;
}
.contacts .link:hover,
.contacts .link:focus{
    color: #2196F3;
}
.contacts{
    display: flex;
    margin-left: 331px;
}
.contacts li{
    margin-right: 50px;
    display: block;
}
.contacts li:last-child{
    margin-right: 0;
}
.page-header{
    padding-top: 24px;
    padding-bottom: 24px;

}
/*hero*/
.hero{
    
    background: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
    
 
}
.hero h1{
    font-weight: 900;
    font-size: 44px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 1.5; 
    text-align: center;
    margin-top: 0;
    margin-left: 452px;
    margin-right: 452px;
    margin-bottom: 30px;
}
.hero > button{
    display: flex;
    justify-content: center;
    padding: 0;
    margin-left: 700px;
    align-items: center;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 2.1;
    background: #2196F3;
    color:#FFFFFF;
}
/*owerlay*/
.owelay{
    height: 600px;
    outline: 1px solid black;
}

/*studio*/
.studio{
    padding-left: 0;
    padding-right: 0;
    padding-top: 94px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    color: #212121;
    letter-spacing: 0.03em;
    width: 1200px;
}
.studio-container li{
    width: 270px;
    margin-right: 30px;
}
.studio-container li:last-child{
    margin-right: 0;
}
.profile{
    margin-right: 30px;
    padding-left: 0;
}
.studio-container ul{
    display: flex;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}
.studio-container h3{
    margin-top: 0;
    margin-bottom: 10;
    padding: 0;
    border: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
}
.studio-container p{
    margin-top: 0;
    margin-bottom: 0;
    color: #757575;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-transform:lowercase;
    
}  

/*work*/
.work{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
.container{
    padding: 94px 0 94px 0;
    margin: 0;
}

.container h2{

    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666;
    padding-bottom: 50px;
    margin: 0;
}
.work-item{
    width: 370px;
    margin-right: 30px;
}
.work-item:last-child{
    margin-right: 0;
}
.container ul{
    display: flex;
    padding: 0;
}

/*comanda*/

.commandos{
    letter-spacing: 0.03em;
    background: #F5F4FA;
    margin-left: auto;
    margin-right: auto;
}
.commandos li{
    display: block;
    flex-wrap: wrap;
    width: 270px;
    text-align: center;
}
.container h2{
    text-align: center;
    font-size: 36px;
    line-height: 1.1666;
    font-weight: 700;
    padding-bottom: 50px;
    margin: 0;
}
.puple{
    width: 270px;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    display: inline;
}
.puple:last-child{
    margin-right: 0;
}
.container ul{
    padding-left:0;
    display: flex;
    justify-content: center;
}
.commandos .position{
    color: #757575;
    font-size: 16px;
    line-height: 1.1875;
    font-weight: 400;
    margin: 0;
}
.puple .namep{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    padding: 30px 0 10px 0;
    margin: 0;
}

 /*footer*/

 footer{
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    
}
.address a{
    font-style: normal;
    font-size: 14px;
    line-height: 1.7143;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 0;
}
.and{
    justify-content: center;
    margin-left: 215px; 

}
.address{
    padding-left: 0;
    margin-top: 11px;
}
.address li{
    padding-top: 9px;
}


/*page2*/
.border{
    border: 1px solid #ECECEC;
}
.navigatyon{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.container-navigatyon{
    padding-top: 94px;
    padding-bottom: 94px;
}
.navigatyon button{
    color: #212121;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    border-radius: 4px;
    border: 0;
    line-height: 1.625;
    font-family: 'Roboto';
    padding: 6px 22px 6px 22px;
    margin-right: 8px;
    font-weight: 500;
    font-size: 16px;
}
.navigatyon button:hover,
.navigatyon button:focus{
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background: #2196F3;
    border: 0;
}

/*photo page2*/
.photobox{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}
.photos{
    width: 370px;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
}
.name1{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 2;  
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 9px;
    margin: 0;
}
.name{
    font-family: 'Roboto';
    padding-bottom: 20px;
    padding-left: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    color: #757575;
    margin: 0;
}

.photobox img:hover,
.photobox img:focus{
    border: 3px solid #2196F3;;
}
.names{
    display: flex;
    flex-wrap: wrap;
}
.photos:nth-child(n + 7) {
    margin-bottom: 0;
  }
